<h1>Create A New Article</h1>

<form method="POST" action="/articles/<%= @id %>">
    <p>Title: <input type="text" name="title"></p>
    <p>Content: <input type="text" name="content"></p>
    <input type="submit" value="submit">
</form>